<%- include('partials/_header') %>  <!--Prueba Página-->
<div class="container mt-5">
    <div class="card shadow-lg p-4">
        <h2 class="text-center mb-4">Crear Asignatura</h2>
        <form action="/asignaturas/add" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Nombre:</label>
                <input type="text" id="name" name="name" class="form-control" required>
            </div>
            <!-- Tengo que hacer curso primero para esto-->
<!--            <div class="mb-3">-->
<!--                <label for="role" class="form-label">Rol:</label>-->
<!--                -->
<!--                <select name="role" id="role" class="form-select">-->
<!--                    <option value="0">Grado</option>-->
<!--                    <option value="1">Master</option>-->
<!--                </select>-->
<!--            </div>-->
            <button type="submit" class="btn btn-primary w-100">Crear Asignatura</button>
        </form>
    </div>
</div>
<%- include('partials/_footer') %>