<%- include('partials/_header') %>  <!--Prueba Página-->

<h2>Crear Usuario</h2>

<form action="/usuarios/add" method="POST">
    <label for="email">Correo electrónico:</label>
    <input type="email" id="email" name="email" required><br>

    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required><br>

    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" required><br>

    <label for="lastName">Apellido:</label>
    <input type="text" id="lastName" name="lastName" required><br>

    <label for="age">Edad:</label>
    <input type="number" id="age" name="age" required><br>

    <label for="role">Rol:</label>
    <select name="role" id="role">
        <option value="0">Alumno</option>
        <option value="1">Profesor</option>
        <option value="2">Administrador</option>
    </select><br>

    <label for="asignaturas">Asignaturas:</label>
    <input type="text" id="asignaturas" name="asignaturas"><br>

    <button type="submit">Crear Usuario</button>
</form>

<%- include('partials/_footer') %>
